* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.branding-color {
  color: #b099d9;
}

a.button {
  padding: 15px 25px;
  background-color: #b099d9;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.features, .conference, .recruitment, .leader, .member, .achievement {
  margin-top: 100px;
}

.full-width.brief-intro {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 20%;
}

.full-width.brief-intro .intro, .full-width.brief-intro a {
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
}

.full-width.brief-intro h2, .full-width.brief-intro p {
  padding: 10px 0;
}

.features {
  padding-left: 120px;
  padding-right: 120px;
  text-align: center;
}

.features .subtitle {
  width: 40%;
  margin: 0 auto;
}

.features .subtitle h2, .features .subtitle h4, .features .subtitle p {
  padding-bottom: 20px;
}

.features i {
  display: inline-block;
  margin: 20px auto;
  font-size: 40px;
  color: #b099d9;
}

.features i.icon-bg {
  padding: 10px;
  background: white;
  border-radius: 20px;
}

.features p {
  color: #808080;
}

.features .row {
  padding-top: 50px;
}

.features .col-lg-4 {
  background-color: #f2f2f2;
  border-radius: 30px;
}

.features .col-lg-4.bg-branding-color {
  background-color: #ded4f0;
}

.conference {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 0;
}

.conference .col-lg-6 {
  padding: 0 40px;
}

.conference h2 {
  padding: 20px 0;
  letter-spacing: 3px;
}

.conference p {
  color: #808080;
}

.conference .button {
  display: inline-block;
  margin: 20px 0;
}

.conference .narrow {
  font-weight: 100;
}

.conference .confrn-info p {
  padding: 0 0 10px 0;
}

.conference .confrn-info h4 {
  padding: 40px 0 20px;
}

.conference .confrn-team h4:last-of-type {
  padding: 100px 0 50px;
}

.conference .team-member {
  padding: 30px 20px;
  background-color: #ded4f0;
  text-align: center;
}

.conference .team-member h5 {
  padding: 20px 0 10px;
}

.conference img {
  border-radius: 50%;
}

.recruitment .row {
  width: 80%;
  margin: 0 auto;
}

.recruitment .col-lg-6:first-of-type, .recruitment .col-lg-6:last-of-type {
  background-color: #f6f4fb;
}

.recruitment .col-lg-6 {
  padding: 20px 40px;
  position: relative;
}

.recruitment h4 {
  display: inline-block;
}

.leader {
  background-color: #ded4f0;
  text-align: center;
}

.leader .row {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
}

.leader .col-lg-6 {
  padding: 30px 100px;
  background-color: white;
  border-radius: 10%;
}

.leader .col-lg-6 p {
  padding: 30px 0;
  font-size: 1.5em;
  font-weight: 300;
}

.leader img {
  border-radius: 50%;
}

.leader .reference, .leader a {
  padding: 30px 0 0;
  color: white;
}

.member {
  text-align: center;
}

.member .row {
  width: 80%;
  margin: 0 auto;
}

.member .col-lg-4 {
  padding: 50px 10px;
  border-radius: 50px;
}

.member .background {
  background-color: #b099d9;
  color: white;
}

.member img {
  border-radius: 40px;
}

.member h5 {
  color: #ded4f0;
  padding: 10px 0;
}

.member i {
  font-size: 20px;
}

.achievement {
  background-color: #ded4f0;
}

.achievement .container {
  width: 60%;
}

.achievement .container > h2 {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}

.achievement .box {
  background-color: #f6f4fb;
  padding: 50px 60px;
}

.achievement .list {
  background-color: white;
  border: 1px solid #f6f4fb;
}

.achievement .title-extend {
  padding: 30px;
  font-size: 25px;
}

.achievement .title-extend:hover {
  background-color: #9e9e9e;
}

.achievement .title-extend.open {
  color: white;
  background-color: #b099d9;
}

.achievement .title {
  float: left;
  font-weight: bold;
}

.achievement .extend {
  float: right;
  color: #ded4f0;
}

.achievement .content {
  padding: 20px 40px;
}

.achievement p {
  font-weight: bold;
}

.achievement li {
  list-style-type: none;
}

.achievement li:before {
  content: " - ";
}
/*# sourceMappingURL=main.css.map */